.publish-container {
  flex: 1;
  padding: 30px;
  background: #fff;
}

.publish-container h1 {
  font-size: 32px;
  margin-bottom: 25px;
}

/* Breadcrumb */

.breadcrumb {
  color: #6b7280;
  font-size: 14px;
  margin-bottom: 15px;
}

/* Tabs */

.publish-tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.publish-tabs button {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #f3f4f6;
  font-weight: 500;
}

.active-tab {
  background: #5d82f3 !important;
  color: white;
}

/* Card */

.publish-card {
  max-width: 700px;
  padding: 25px;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  background: #fafafa;
}

.publish-card h3 {
  margin-bottom: 20px;
}

/* Radio Options */

.publish-card label {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  cursor: pointer;
}

/* Form Fields */

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group label {
  margin-bottom: 8px;
  font-weight: 500;
}

.form-group input,
.form-group select {
  height: 48px;
  padding: 0 12px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  outline: none;
}

.form-group input:focus,
.form-group select:focus {
  border-color: #5d82f3;
}

/* Buttons */

.button-row {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-top: 30px;
}

.cancel-btn {
  padding: 12px 24px;
  border: 1px solid #5d82f3;
  background: white;
  color: #5d82f3;
  border-radius: 8px;
  cursor: pointer;
}

.next-btn {
  padding: 12px 24px;
  border: none;
  background: #5d82f3;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.cancel-btn:hover,
.next-btn:hover {
  opacity: 0.9;
}

.chapter-card{
  border:1px solid #e5e7eb;
  border-radius:12px;
  padding:20px;
  margin-bottom:25px;
  background:#fafafa;
}

.chapter-card h3{
  margin-bottom:10px;
}

.chapter-card p{
  margin-bottom:5px;
}

.chapter-stats{
  display:flex;
  gap:20px;
  margin-top:15px;
  font-weight:500;
}

.edit-btn {
  background: #ffffff;
  color: #5d82f3;
  border: 1px solid #5d82f3;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: 0.3s;
}

.edit-btn:hover {
  background: #f5f8ff;
}